<article>
	<h1>{{ PAGE_TITLE }}</h1>
</article>

{% for record in records %}
<article id="articleList">
{% if VERSION == "2" %}

    <div class="items">
        <h2>
            <a href="{{ record.url }}">{{ record.title }}</a>
        </h2>
        <p>{{ record.desc }}</p>
        <h6>Posted on {{ record.created_date }}<br/>by {{ record.author }}</h6>
        <a href="{{ record.url }}" class="see">see article</a>
    </div>

    {% else %}
    <article>
        <header>
            <h2>
                <a href="{{ record.url }}">{{ record.title }}</a>
            </h2>
            <h6>Posted on {{ record.created_date }} by {{ record.author }}</h6>
        </header>
        <p>{{ record.desc }}</p>
    </article>
	{% endif %}

</article>
{% endfor %}
